/*---GLOBAL---*/
body {
  font-family: "Open Sans";
  font-weight: 400;
  background-color: aquamarine;
}

:root {
  --mainGreen: #00c851;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.wrapper {
  width: 70%;
  height: auto;
  border: 5px solid #c99065;
  overflow-x: hidden;
  background: rgb(255, 255, 255);
  box-shadow: 0px 0px 25px rgb(200, 200, 200);
  padding-bottom: 30px;
  margin: 20px 0 20px 15%;
  border-radius: 4px;
}

.list-wrapper {
  margin-top: 30px;
  display: flex;
  width: auto;
  justify-content: center;
  flex-wrap: wrap;
}

.bald-block-element {
  display: inline;
}
h1.title {
  font-family: "Open Sans";
  font-weight: 800;
  text-align: center;
  color: #c99065;
  font-size: 4em;
  margin-bottom: 30px;
}

/*---END GLOBAL---*/
