@import url('https://fonts.googleapis.com/css?family=Poppins');

body{
    background:#3498db;
    font-family: 'Poppins';
}

.container{
    border-radius: 8px;
    width:90%;
    height: 90vh;
    margin: 0 auto;
    background: #ecf0f1;

    display: flex;
    flex-direction: column;
}

.main-text{
    text-align: center;
    margin: 2em auto;
    flex-grow: 0;
}

.main-text h1{
   padding-top: 1em;
   margin:0;
}

.main-text p{
    margin:0;
}

.lot-id{
    color:#2ecc71;
}

main{
    display: grid;
    grid-template-columns: 650px 1fr;
    flex-grow: 1;
}

/* data-box */
.data-box{
    padding-top:1rem; 
    background: #e74c3c;
    color: #fff;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3rem 2.5rem 2.5rem auto;
    justify-items: center;
    align-items: center;
    
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button1 {
    background-color: white; 
    color: black; 
    border: 2px solid #4CAF50;
    border-radius: 20px;
}

.button1:hover {
    background-color: #4CAF50;
    color: white;
}

.refresh {
    grid-column: 1/span 2;
}

.m-para{
    font-size: 1.5em;
    grid-column: 1/span 2;
    grid-row: 1/2;
}

.total-para{
    grid-column: 1/2;
    grid-row: 2/3;
}

.total-data{
    grid-column: 2/3;
    grid-row: 2/3;
}

.avail-para{
    grid-column: 1/2;
    grid-row: 3/4;  
}

.avail-data{
    grid-column: 2/3;
    grid-row: 3/4;
}

.location{
    grid-column: 1/3;
    text-align: center;
}

.location i{
    display: block;
    font-size: 3rem;
    text-align: center;
}
/* --data-box */

/* display-box */

.display-box{
    padding: 2em;
    background: #2c3e50;

    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(6em,1fr));
    grid-gap:1.5rem;
    align-items: center;
    justify-items: center;
}

.lot-box{
    border-radius: 6px;
    background: #2ecc71;
    width: 5em;
    height: 7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.inactive{
    background: #c0392b !important;
}
/* --display-box */