<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>ParkFind | Smart Parking System</title>
  <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.1.0/css/all.css'>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/styleDashboard.css') }}">
</head>
<body>
<!-- partial:index.partial.html -->
<div class="container">
        <div class="main-text">
            <h1>ParkFind</h1>
            <p>Welcome <span class="lot-id">{{ username }}</span>!</p>
        </div>
        <main>
            <div class="data-box">
                <p class="m-para">Parking Status</p>
                <p class="total-para">Total Slots:</p><span class="total-data">10</span>
                <p class="avail-para">Available: </p><span class="avail-data">{{ 10-booked_slots|length }}</span>
                <div class="location">
                        <p>Recommended Location:</p><i class="fas fa-map-marker-alt"></i><p>Parking Space: {{ parking_space }}, Distance: {{ distance }}</p>
                        
                </div>
                <div class="location">
                        <p>Last Updated:</p><i class="fas fa-clock"></i><p>Timestamp: {{ lastupdated }}, Rate: &#x20B9; {{ rate }}/ hour</p>
                </div>
                <p class="refresh"><a href="{{ url_for('dashboard') }}" class="button button1"><i class="fas fa-sync"></i> Refresh</a><a href="{{ url_for('reservation') }}" class="button button1"><i class="fas fa-hand-holding-usd"></i> Reserve</a></p>
            </div>
            <div class="display-box">
                {% if booked_slots|length == 0 %}
                    {% for j in empty_slots %}
                    <div class="lot-box">{{ j }}</div>
                    {% endfor %}
                {% else %}
                    {% for i in empty_slots %}
                    <div class="lot-box">{{ i }}</div>
                    {% endfor %}
                    {% for j in booked_slots %}
                    <div class="lot-box inactive">{{ j }}</div>
                    {% endfor %}
                {% endif %}
            </div>
        </main>
    </div>
<!-- partial -->
  
</body>
</html>
