<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>ParkFind</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='fontawesome-5.5/css/all.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static',filename='css/templatemo-style.css') }}" />

</head>

<body>
    <!-- Hero section -->
    <section id="hero" class="text-white tm-font-big tm-parallax">
        <!-- Navigation -->
        <nav class="navbar navbar-expand-md tm-navbar" id="tmNav">
            <div class="container">
                <div class="tm-next">
                    <a href="#hero" class="navbar-brand">ParkFind</a>
                </div>

                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fas fa-bars navbar-toggler-icon"></i>
          </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <a class="nav-link tm-nav-link" href="#introduction">Introduction</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link tm-nav-link" href="#login">Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link tm-nav-link" href="#contact">About Us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="text-center tm-hero-text-container">
            <div class="tm-hero-text-container-inner">
                <h2 class="tm-hero-title">ParkFind</h2>
                <p class="tm-hero-subtitle">
                    Adorning your vehicle need
                </p>
            </div>
        </div>

        <div class="tm-next tm-intro-next">
            <a href="#introduction" class="text-center tm-down-arrow-link">
                <i class="fas fa-3x fa-caret-down tm-down-arrow"></i>
            </a>
        </div>
    </section>

    <section id="introduction" class="tm-section-pad-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <img src="https://timesofindia.indiatimes.com/thumb/msid-70239376,width-1200,height-900,resizemode-4/.jpg" alt="Image" class="img-fluid tm-intro-img" />
                </div>
                <div class="col-lg-6">
                    <div class="tm-intro-text-container">
                        <h2 class="tm-text-primary mb-4 tm-section-title">Introduction</h2>
                        <p class="mb-4 tm-intro-text">
                            <strong>ParkFind</strong> application helps you find the perfect parking spot using a simple but efficient algorithm.
                        </p>
                        <p class="mb-5 tm-intro-text">
                            By harnessing the power of <strong>IOT</strong> we compare the nearby vacant parking sports and find the right lot as per your specifications.
                            <div class="tm-next">
                                <a href="{{ url_for('login') }}" class="tm-intro-text tm-btn-primary">Get Started</a>
                            </div>
                    </div>
                </div>
            </div>

            <div class="row tm-section-pad-top">
                <div class="col-lg-4">
                    <i class="fas fa-4x fa-fighter-jet text-center tm-icon"></i>

                    <h4 class="text-center tm-text-primary mb-4">Fast</h4>

                </div>

                <div class="col-lg-4 mt-5 mt-lg-0">

                    <i class="far fa-4x fa-hand-peace text-center tm-icon"></i>

                    <h4 class="text-center tm-text-primary mb-4">Simple</h4>

                </div>
                <div class="col-lg-4 mt-5 mt-lg-0">
                    <i class="fas fa-4x fa-city text-center tm-icon"></i>
                    <h4 class="text-center tm-text-primary mb-4">Improved Parking Spaces</h4>
                </div>
            </div>
        </div>
    </section>
    <section id="login" class="tm-section-pad-top">
        <div class="container">
            <div class="row">
                <div class="text-center col-12">
                    <h2 class="tm-text-primary tm-section-title mb-4">Login</h2>
                    <p class="mx-auto tm-work-description">
                        Register to try out the new features and upcoming parking spaces.
                    </p>
                    <div class="tm-next">
                        <a href="{{ url_for('login') }}" class="tm-intro-text tm-btn-primary">Login/Register</a>
                    </div>
                    <br>
                    <br>
                    <br>
                </div>
            </div>

        </div>
    </section>

    <!-- Contact -->
    <section id="contact" class="tm-section-pad-top tm-parallax-2">
        <div class="container tm-container-contact">
            <div class="row">
                <div class="col-12">
                    <h2 class="mb-4 tm-section-title">AboutUs</h2>
                    <div class="mb-5 tm-underline">
                        <div class="tm-underline-inner"></div>
                    </div>
                    <p class="mb-5">
                        Team of five working, for you get that perfect spot.
                    </p>
                    <ul>
                        <li class="six">
                            Angelina
                        </li>
                        <li class="six">
                            Diyali
                        </li>
                        <li class="six">
                            Apratim
                        </li>
                        <li class="six">
                            Mayank
                        </li>
                        <li class="six">
                            Abhishek
                        </li>
                    </ul>
                </div>


                <div class="col-sm-12 col-md-6 d-flex align-items-center tm-contact-item">
                    <a href="https://www.google.com/maps" class="tm-contact-item-link">
                        <i class="fas fa-3x fa-map-marker-alt mr-4"></i>
                        <span class="mb-0">Chennai</span>
                    </a>
                </div>

            </div>
        </div>
        <footer class="text-center small tm-footer">
            <p class="mb-0">
                Copyright &copy; 2020 ParkFind
            </p>
        </footer>
    </section>
    <script src="{{ url_for('static',filename='js/jquery-1.9.1.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/jquery.singlePageNav.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    <script>
        function getOffSet() {
            var _offset = 450;
            var windowHeight = window.innerHeight;

            if (windowHeight > 500) {
                _offset = 400;
            }
            if (windowHeight > 680) {
                _offset = 300
            }
            if (windowHeight > 830) {
                _offset = 210;
            }

            return _offset;
        }

        function setParallaxPosition($doc, multiplier, $object) {
            var offset = getOffSet();
            var from_top = $doc.scrollTop(),
                bg_css = 'center ' + (multiplier * from_top - offset) + 'px';
            $object.css({
                "background-position": bg_css
            });
        }

        // Parallax function

        var background_image_parallax = function($object, multiplier, forceSet) {
            multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
            multiplier = 1 - multiplier;
            var $doc = $(document);
            // $object.css({"background-attatchment" : "fixed"});

            if (forceSet) {
                setParallaxPosition($doc, multiplier, $object);
            } else {
                $(window).scroll(function() {
                    setParallaxPosition($doc, multiplier, $object);
                });
            }
        };

        var background_image_parallax_2 = function($object, multiplier) {
            multiplier = typeof multiplier !== 'undefined' ? multiplier : 0.5;
            multiplier = 1 - multiplier;
            var $doc = $(document);
            $object.css({
                "background-attachment": "fixed"
            });
            $(window).scroll(function() {
                var firstTop = $object.offset().top,
                    pos = $(window).scrollTop(),
                    yPos = Math.round((multiplier * (firstTop - pos)) - 186);

                var bg_css = 'center ' + yPos + 'px';

                $object.css({
                    "background-position": bg_css
                });
            });
        };

        $(function() {
            // Hero Section - Background Parallax
            background_image_parallax($(".tm-parallax"), 0.30, false);
            background_image_parallax_2($("#contact"), 0.80);

            // Handle window resize
            window.addEventListener('resize', function() {
                background_image_parallax($(".tm-parallax"), 0.30, true);
            }, true);

            // Detect window scroll and update navbar
            $(window).scroll(function(e) {
                if ($(document).scrollTop() > 120) {
                    $('.tm-navbar').addClass("scroll");
                } else {
                    $('.tm-navbar').removeClass("scroll");
                }
            });

            // Close mobile menu after click 
            $('#tmNav a').on('click', function() {
                $('.navbar-collapse').removeClass('show');
            })

            // Scroll to corresponding section with animation
            $('#tmNav').singlePageNav();

            // Add smooth scrolling to all links
            // https://www.w3schools.com/howto/howto_css_smooth_scroll.asp
            $("a").on('click', function(event) {
                if (this.hash !== "") {
                    event.preventDefault();
                    var hash = this.hash;

                    $('html, body').animate({
                        scrollTop: $(hash).offset().top
                    }, 400, function() {
                        window.location.hash = hash;
                    });
                } // End if
            });

            // Pop up
            $('.tm-gallery').magnificPopup({
                delegate: 'a',
                type: 'image',
                gallery: {
                    enabled: true
                }
            });

            // Gallery
            $('.tm-gallery').slick({
                dots: true,
                infinite: false,
                slidesToShow: 5,
                slidesToScroll: 2,
                responsive: [{
                    breakpoint: 1199,
                    settings: {
                        slidesToShow: 4,
                        slidesToScroll: 2
                    }
                }, {
                    breakpoint: 991,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 2
                    }
                }, {
                    breakpoint: 767,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 1
                    }
                }, {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                    }
                }]
            });
        });
    </script>
</body>

</html>